@model MvcStok.Models.Entity.Musteriler
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Müşteri Ekle</h2>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@using (Html.BeginForm("Ekle", "Musteri", FormMethod.Post))
{
    <label>Müşteri Adı:</label>
    @Html.TextBoxFor(m => m.MusteriAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.MusteriAdi)
    <br />

    <label>Müşteri Soyadı:</label>
    @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.MusteriSoyad)
    <br />
    <button class="btn btn-info" id="btnAdd" style="margin-top:15px">Kaydet</button>
}

<script>
    $('#btnAdd').click(function () {
        alert("Müşteri Ekleme Başarılı")
    })
</script>
